<!DOCTYPE html>
<html ng-app="myApp"> 
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="">
        <title>Messages</title>
    </head>
        <!-- Bootstrap core CSS -->
          <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="./app.js"></script>
<script>
  
  
</script>
    <body  ng-controller="messageController">

        <table>
            <thead>
                <tr>
                    <th>ID</th> <th>Objet</th> <th>Contenu</th> <th>SenderId</th> 
                </tr>
            </thead>
            <tbody>
               <tr ng-repeat="p in messages.content"></tr> 
               <td>{{p.id}}</td>
               <td>{{p.Objet}}</td>
               <td>{{p.Content}}</td>
               <td>{{p.senderId}}</td>
            </tbody>
        </table>
   

    </body>
</html>