<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Parrainage</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script>window.$ = window.jQuery = require("../../node_modules/jquery/dist/jquery.min.js");</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./css/simple-sidebar.css" rel="stylesheet">
</head>

<body id="backg_blue">
    <div class="container">
        <br>
        <a href="./bienvenue.html"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</button></a>
        <div class="row">
            <div class="card-body">
                <div class="row">
                  <div class="col-md-5" id="texte_white">
                    <p><h4>Parrainez vos proches</h4></p>
                    <div>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero voluptatem sapiente repudiandae, enim asperiores obcaecati aut? Ipsa nihil eveniet voluptatem reprehenderit, ab minima repellendus, commodi itaque nemo repudiandae minus.
                    </div><br>
                    <div>
                        <a href="http://localhost/projet-multilogin/index.html"><button class="btn btn-success">Choisir mon forfait</button></a>
                    </div>
                  </div>
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-5" id="texte_white">
                    <p><h4>Besoin de changer de forfait ?</h4></p>
                    <div>
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-usd fa-xs" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>Obtenez un revenu recurrent de 25% sur les forfaits pris avec votre code</h5>
                            </div>
                        </div>
                    </div><br>
                    <div>
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>Une session supplementaire gratuite</h5>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" id="myInput" class="form-control" value="7FBE1RTKDX">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success" onclick="myFunction()">COPIER</button>
                            </div>
                        </div>
                    </div>
                    <div>
                    <br>
                    <br>
                    <div>
                        <div class="row">
                            <div class="col-md-8">
                                <button type="button" class="btn btn-light"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Partager par email</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-light"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;Partager</button>
                            </div>
                            <div class="col-md- 6"><br>
                                &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-light"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;Pargager</button>
                            </div>
                        </div>
                    </div>
                        
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function myFunction() {
          var copyText = document.getElementById("myInput");
          copyText.select();
          copyText.setSelectionRange(0, 99999)
          document.execCommand("copy");
          //alert("copié le texte: " + copyText.value);
        }
    </script>
</body>

</html>
