<div class="modal fade" id="myButtonEdit{{$index}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-dismiss="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="mx-auto">
                            <div class="card card-signin my-5">
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Modifier profil</b></h5><br>
                                    <form class="form-signin" action="./bienvenue-admin.html">
                                        <div class="form-label-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    Nom
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" id="nom" value="" class="form-control"
                                                        placeholder="Nom" required autofocusz>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-label-group">
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    Email
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="email" id="prenom" class="form-control"
                                                        placeholder="Prénom" required autofocus>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-label-group">
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    Mot de passe
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" id="inputEmail" class="form-control"
                                                        placeholder="Nouveau mot de passe" required autofocus>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-label-group">
                                            <br>
                                            <div class="container-fluid text-center">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="./bienvenue.html"><button type="button" id="annuler"
                                                                class="btn btn-danger">Annuler</button></a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button type="submit" id="modification"
                                                            class="btn btn-success">Valider</button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>