<!DOCTYPE html>
<html lang="en">

 

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Les forfaits</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../vendor//bootstrap/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="../css/simple-sidebar.css" rel="stylesheet">

</head>

<body id="backg_blue">
    <div class="container">
        <div class="row">
            <div class="card-body">
                <h1 id="texte_white">Nos forfaits</h1><br>
                <div class="row">
                  <div class="col" id="backg_white">
                      <div id="basique">
                        <p><h5><b>Forfait <br>platium </b></h5></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><br><br><br><br>
                        <div class="text-center">
                            <button id="dataF" type="submit" class="btn btn-success">Choisir ce forfait1</button>
                        </div>
                        <br>
                      </div>
                   
                  </div>&nbsp;&nbsp;&nbsp;
                  <div class="col" id="backg_white">
                      <div  id="moyen">
                        <p><h5><b>Forfait <br>platium </b></h5></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><br><br><br><br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Choisir ce forfait</button>
                        </div>
                        <br>
                      </div>
                   
                </div>&nbsp;&nbsp;&nbsp;

                  <div class="col" id="backg_white">
                      <div id ="normal">
                        <p><h5><b>Forfait <br>premium</b></h5></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><br><br><br><br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Choisir ce forfait</button>
                        </div>
                        <br>

                      </div>
                   
                </div>&nbsp;&nbsp;&nbsp;
                  <div class="col" id="backg_white">
                      <div id="superieur">
                        <p><h5><b>Forfait <br>liberté</b></h5></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><br><br><br><br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Choisir ce forfait</button>
                        </div>

                      </div>
                   
                </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <script src="../js/forfaits.js"></script>
</body>


</html>
