<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inscription</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link href="../css/simple-sidebar.css" rel="stylesheet">

</head>

<body id="backg_blue">
    <div class="container">
        <br>
        <a href="./offre.html"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</button></a>
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>S'inscrire</b></h5>
                        <form class="form-signin" action="./bienvenue.html">
                            <div class="form-label-group">
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" id="prenom" class="form-control" placeholder="Prénom" required autofocus>
                                    </div>
                                    <div class="col">
                                        <input type="text" id="nom" class="form-control" placeholder="Nom" required autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="form-label-group">
                                <br>
                                <input type="text" id="inputEmail" class="form-control" placeholder="Adresse e-mail" required autofocus>
                            </div>
                            <div class="form-label-group">
                                <br>
                                <input type="text" id="inputEmail" class="form-control" placeholder="téléphone" required autofocus>
                            </div>
                            <div class="form-label-group">
                                <br>
                                <input type="password" id="inputPassword" class="form-control" placeholder="Saisissez votre mot de passe" required>
                                <br>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirmer votre mot de passe" required>
                                <br>
                            </div>
                            <div class="text-center">
                                <button type="submit" id="inscription" onclick="myFunction()"  class="btn btn-success">valider</button>
                            </div>
                        </form>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <script>
        function myFunction() {
            document.getElementById("inscription").click();
        }
    </script>
</body>

</html>
